.Header {
    position: absolute;
    top: 13%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -20%);
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1439px) {
}

@media (max-width: 499px) {
    .Header {
        top: 5vh;
        max-width: 60%;
    }
    .Header h1 {
        font-size: 1.3rem;
    }
}
