.Form {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50vw;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 40px;
    color: white;
    text-shadow: 1px 1px gray;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.Form input,
textarea {
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    max-width: 100%;
    min-width: 100%;
    max-height: 30vh;
}

.Form button {
    height: 45px;
    width: 150px;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 499px) {
    .Form {
        left: 15%;
        top: 5%;
        max-height: 70vh;
        overflow-y: scroll;
    }
    .Form h1 {
        font-size: 1.5rem;
    }
    .Form p {
        font-size: 0.8rem;
    }
}
