.Wrapper {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background-image: url('../../../assets/images/ContactBackground.jpg');
    background-size: cover;
}

@media (max-width: 499px) {
    .Wrapper {
        background-size: cover;
        background-position: 40% 0%;
        overflow-y: scroll;
    }
}
