.PlayerWrapper {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
}
.Player {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100vh;
    padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
    width: 100% !important;
    height: 100%;
}

@media (max-width: 499px) {
    .PlayerWrapper {
        padding-bottom: calc(var(--aspect-ratio, 0.5625) * 150%);
    }
    .Player {
        top: -69px;
    }
}
