.NavigationItem {
    margin: 30px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1.5rem;
}

.NavigationItem a {
    color: #5259de;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #545dff;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0 auto;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        z-index: 3;
    }

    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        border-bottom: 4px solid #f1f1f1;
        color: white;
    }
}
