.Card {
    width: 70vw;
    max-height: 37.5vh;
    border: solid 2px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin-bottom: 75px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
}

.Card h2,
h4 {
    text-align: left;
    margin: 20px;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.ImgContainer {
    height: 30vh;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 0 0 15px 15px;
}

.ImgContainer img {
    transition: transform 0.5s ease-out;
    object-fit: cover;
    object-position: 0% 5%;
}

.ImgContainer img:hover {
    transform: scale(1.05);
}

.Description {
    background-color: rgba(0, 0, 0, 0.5);
    height: 30%;
    line-height: 3vh;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: auto;
    margin: auto;
    position: relative;
    bottom: 31%;
    border-radius: 0 0 15px 15px;
}

@media (max-width: 499px) {
    .Description {
        font-size: 1rem;
        line-height: 1.2rem;
        height: 100px;
        bottom: 100px;
    }
    .ImgContainer img {
        object-position: 50% 0%;
    }

    .Card h2 {
        font-size: 1.1rem;
        margin: 10px 20px 10px 20px;
    }
    .Card h4 {
        font-size: 0.9rem;
        margin: 0px 20px 10px 20px;
    }
}
