.Spotlight {
    position: relative;
    width: 100% !important;
    height: auto !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px auto;
}

.Spotlight h1 {
    color: #f1f1f1;
    text-shadow: 1px 1px #7d7d7d;
    font-size: 3.5vh;
}

.Spotlight p {
    font-size: 1.7vw;
    color: #f1f1f1;
    text-shadow: 1px 1px #7d7d7d;
    max-width: 60vw;
    text-align: center;
    margin: 0 auto;
}

.Spotlight img {
    height: 15vw;
    width: 15vw;
    border-radius: 20vw;
    object-fit: cover;
}

.Spotlight button {
    font-weight: bold;
    margin: 30px auto;
    color: #f1f1f1;
    border: #f1f1f1 1px solid;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0);
    font-size: 1.25rem;
    border-radius: 5px;
    text-shadow: 1px 1px #7d7d7d;
    width: 20vw;
}

.Spotlight button:hover {
    background-color: #f1f1f1;
    color: #616161;
    text-shadow: none;
}

.ImageHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 1439px) {
    .Spotlight p {
        font-size: 1.6rem;
    }
    .Spotlight h1 {
        font-size: 2.5rem;
    }
    .Spotlight button {
        width: 40vw;
    }
}

@media (max-width: 499px) {
    .Spotlight h1 {
        font-size: 1.5rem;
    }

    .Spotlight img {
        height: 25vw;
        width: 25vw;
    }

    .Spotlight p {
        font-size: 1.2rem;
    }

    .Spotlight button {
        width: 50vw;
        font-size: 0.8rem;
    }
}
