.Content {
    width: 40vw;
    height: 50vh;
    position: relative;
    top: 300px;
    left: 150px;
    border: 1px solid black;
    border-radius: 18px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    overflow-y: auto;
}

.Content h1 {
    font-size: 3rem;
    margin-top: 0;
}

.Content p {
    font-size: 1.33rem;
}

.Content a {
    text-decoration: underline;
    color: white;
}

.Tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline;
}

.TooltipText {
    visibility: hidden;
    position: absolute;
    left: -10%;
    bottom: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 300px;
    width: auto;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0px;
}

.Tooltip:hover .TooltipText {
    visibility: visible;
}

.Tooltip img {
    border-radius: 10px;
}

@media (max-width: 499px) {
    .Content {
        top: 100px;
        left: 50px;
        width: 66vw;
        height: 70vh;
        padding: 20px;
    }
    .Content h1 {
        font-size: 1.9rem;
    }
    .Content p {
        font-size: 1.2rem;
    }

    .TooltipText {
        height: 150px;
    }
}
